@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');
*{
   padding: 0;
   margin: 0;
}
body{
   font-family: 'Poppins', sans-serif;
}
#banner-section{
   background:linear-gradient(rgba(0,0,0,.5),#009688),url("images/banner.jpg");
   height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
.logo{
   width: 140px;
   position: absolute;
   top: 5%;
   left: 10%;
}
.banner-text{
   text-align: center;
   color: #fff;
   padding-top: 180px;
}
.banner-text h1{
   font-size: 140px;
   font-family: 'Kaushan Script', cursive;
}
.banner-text p{
   font-size: 20px;
   font-style: italic;
}
.banner-btn{
   margin: 70px auto 0;
}
.banner-btn a{
   text-decoration: none;
   width: 150px;
   margin: 0 10px;
   padding: 15px 0;
   display: inline-block;
   border: 0.5px solid #fff;
   color: #fff;
   position: relative;
   transition: color .5s;
   z-index: 1;
}
.banner-btn a span{
   width: 0;
   height: 100%;
   background-color: #fff;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   transition: width .6s;
}
.banner-btn a:hover span{
   width: 100%;
   
}
.banner-btn a:hover{
   color: #000;
   
}

#sideNav{
   position: fixed;
   top: 0;
   right: 0;
   background-color: #009688;
   width: 240px;
   height: 100vh;
   z-index: 2;
   transition: .5s;
}
Nav ul li{
   list-style: none;
   margin: 50px 20px;
}
Nav ul li a{
   text-decoration: none;
   color: #fff;
}
#menuBtn{
   width: 50px;
   height: 50px;
   background-color: #009688;
   position: fixed;
   top: 20px;
   right: 30px;
   border-radius: 3px;
   cursor: pointer;
   z-index: 3;
   display: flex;
   align-items: center;
   justify-content: center;
}
#menuBtn  img{
   width: 30px;

   text-align: center;
}
@media  screen and (max-width:770px) {
   .banner-text h1{
      font-size: 40px;
      
   }
   .banner-btn a{
      display: block;
      text-align: center;
      margin: 20px auto;
   }


}



/* features section----------------------- */

#feature{
   width: 100%;
   padding: 77px 0;
}
.title-text{
   text-align: center;
   padding-bottom: 70px;

}
.title-text h6{
   font-size: 20px;
   font-weight: bold;
   margin: auto;
   color: #009688;
   z-index: 1;
   display: inline-block;
   position: relative;
}


.title-text h6::after{
   content: '';
   width: 50px;
   height: 30px;
   background: linear-gradient(#019587,#fff);
   position: absolute;
   top: -20px;
   left: 0;
   z-index: -1;
   transform: rotate(-10deg);
   border-top-left-radius: 35px;
   border-bottom-right-radius: 35px;

}
.title-text h1{
   font-size: 50px;
}


.feature-box{
   width: 80%;
   display: flex;
   margin: auto;
   align-items: center;
   text-align: center;
   flex-wrap: wrap;
}
.features{
   flex-basis: 50%;
}
.features-img{
   flex-basis: 50%;
   margin: auto;
}
.features-img img{
   width: 70%;
}
.features h1{
   text-align: left;
   margin-bottom: 20px;
   color: #009688;
}
.features-dec{
   display: flex;
   align-items: center;
}
.feature-icon .fas{

   width: 50px;
   height: 50px;
   font-size: 30px;
   border-radius: 8px;
   text-align: center;
   line-height: 50px;
   border: 1px solid #009688;
   color: #009688;
}

.feature-text p{
   text-align: initial;
   padding: 0 20px;
}

@media  screen and (max-width:770px){
   .title-text h1{
      font-size: 30px;
   }
   .features{
      flex-basis: 100%;
   }
   
   .features-img{
      flex-basis: 100%;
   }
   
   .features-img img{
      width: 100%;
      margin-top: 50px;
   }
   
}




/* services section =-------------- */
  


#services{
   width: 100%;
   padding: 70px 0;
}
.services-box{
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: auto;


}
.single-services{
   flex-basis: 48%;
   margin-bottom: 0px;
   margin-top: 30px;
   border-radius: 8px;
   text-align: center;
   color: #fff;
   position: relative;
}

.single-services img{
   width: 100%;
   border-radius: 8px;
}

.overly{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   border-radius: 8px;
   opacity: 0;
   background: linear-gradient(rgba(0,0,0,.5) ,#009688);
   transition: opacity 1s;
   cursor: pointer;


}
.single-services:hover .overly{
   opacity: 1;
}

.services-dec{
   position: absolute;
   left:50%;
   bottom: 40%;
   width: 80%;
   opacity: 0;
   transform: translatex(-50%);
   transition: opacity 1s;
   

}
.services-dec h5{
   font-size: 1.5rem;
   margin: 20px 0;
}
 hr{
   width: 60%;
   text-align: center;
   margin: 15px auto;

   
}
.services-dec p{
   text-align: center;
  
   font-weight: bolder;
 
}
.single-services:hover .services-dec{
   
   opacity: 1;
}


@media  screen and (max-width:770px){
   .single-services{
      flex-basis: 100%;
      margin-bottom: 30px;
   }
   .services-dec p{
      font-size: 12px;
   }
   .services-dec h5{
      margin: 0 0;
   }
   hr{
      margin: 10px auto;
   }

}



/* start testimonials section  */

.testimonials{
   width: 100%;
   padding: 70px 0;
}
.testimonials-row{
   display: flex;
   width: 80%;
   margin: auto;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
}
.testimonials-col{
   flex-basis: 28%;
   margin-bottom: 30px;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0 10px 20px 3px #00968814;
   cursor: pointer;
   transition: transform 1s;
}
.testimonials-col:hover{
   transform: translateY(-10px);
}
.user{
   display: flex;
   margin: 20px 0;
   align-items: center;
}
.user img{
   width: 90px;
   border-radius: 15px;
   margin-right: 20px;
}
.user-info i{
   color: #009688;
   font-size: 2rem;

}
.user-info small{
   color: #009688;
}

@media  screen and (max-width:770px){
   .testimonials-col{
      flex-basis: 100%;
   }
}



/* ----------------- footer section-------------------------- */

#footer{
   padding: 100px 0 20px;
   background-color: #efefef;
   position: relative;
}
.footer-row{
   display: flex;
   margin: 0 auto;
   width: 80%;
   justify-content: space-between;
   flex-wrap: wrap;
   
}
.footer-left,.footer-right{
   flex-basis: 45%;
   margin-bottom: 20px;
   padding: 10px;
}
.footer-right{
   text-align: right;
}
.footer-row h1{
   margin: 20px 0;
}

.footer-row p{
   line-height: 35px;
}
.footer-row i{
   font-size: 2rem;
   margin-right: 20px;
   color: #009688;
   padding-top: 10px;
}
.footer-img{
   max-width: 350px;
   opacity: .1;
   position: absolute;
   left: 50%;
   top: 35%;
   transform: translate(-50%,-50%);
}
.social-links{
   text-align: center;
}
.social-links i{
   width: 40px;
   height: 40px;
   margin: 10px;
   font-size: 1.5rem;
   border: 1px solid #009688;
   color: #009688;
   line-height: 40px;
   border-radius: 10px;
   cursor: pointer;
   transition: all 1s;
}
.social-links i:hover{
   background-color: #009688;
   color: #fff;
   transform: translateY(-10px);

}



@media  screen and (max-width:770px){
   .footer-left,.footer-right{
      flex-basis: 100%;
      font-size: 20px;
   }
}










